<div class="create-person">
  <button class="create-person__button" (click)="viewModal()">Добавить сотрудника</button>

  <div class="create-person__modal" [class]="hideModal">
    <div class="create-person__window">
      <div class="create-person__top">
        <h1 class="create-person__title">Создание сотрудника</h1>
      </div>
      <div class="create-person__form">
        <p><a href="#" (click)="viewModal()">Назад к списку</a></p>
        <input type="text" name="firstName" class="create-person__input create-person__input_first" [(ngModel)]="firstName">
        <input type="text" name="lastName" class="create-person__input" [(ngModel)]="lastName">
        <div class="create-person__buttons">
          <button class="create-person__button" (click)="savePerson()">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>
