<div class="persons">
  <div class="persons__table">

    <div class="persons__row">
      <div class="persons__column persons__column_n1 persons__column_top">
        <h1 class="persons__title">Имя</h1>
      </div>
      <div class="persons__column persons__column_n2 persons__column_top">
        <h1 class="persons__title">Фамилия</h1>
      </div>
      <div class="persons__column persons__column_n3 persons__column_top">
        <h1 class="persons__title"></h1>
      </div>
    </div> 


    <div class="persons__row" *ngFor="let item of peoples">
      <div class="persons__column persons__column_n1">
        <img class="persons__icon" src="assets/images/person-icon.svg" alt="person-icon">
        <p class="persons__text">{{ item.firstName }}</p>
      </div>
      <div class="persons__column persons__column_n2">
        <p class="persons__text">{{ item.lastName }}</p>
      </div>
      <div class="persons__column persons__column_n3">
        <app-remove-person [idperson]="item.id"></app-remove-person>
      </div>
    </div>
    <app-create-person></app-create-person>

  </div>
</div>
