<div class="persons">
  <div class="persons__table">

    <div class="persons__row">
      <div class="persons__column persons__column_n1 persons__column_top">
        <h1 class="persons__title">Имя</h1>
      </div>
      <div class="persons__column persons__column_n2 persons__column_top">
        <h1 class="persons__title">Фамилия</h1>
      </div>
      <div class="persons__column persons__column_n3 persons__column_top">
        <h1 class="persons__title"></h1>
      </div>
    </div> 


    <div class="persons__row">
      <div class="persons__column persons__column_n1">
        <img class="persons__icon" src="assets/images/person-icon.svg" alt="person-icon">
        <p class="persons__text">Джон</p>
      </div>
      <div class="persons__column persons__column_n2">
        <p class="persons__text">Мэнсон</p>
      </div>
      <div class="persons__column persons__column_n3">
      </div>
    </div> 


  </div>
</div>
