.update-person__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: white;
  &_hide {
    display: none;
  }
}
.update-person__window {
  min-width: 360px;
  border: 1px solid grey;
  border-radius: 6px;
}
.update-person__top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: #999999;
}
.update-person__title {
  margin: 10px;
  font-size: 16px;
  color: white;
}
.update-person__form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.update-person__input_first {
  margin-bottom: 10px;
}
.update-person__buttons {
  display: flex;
  justify-content: flex-end;
}
.update-person__edit {
  min-width: 32px;
  min-height: 32px;
  background-color: #fff7c9;
  border: 1px solid #faec9c;
  cursor: pointer;
}
.update-person__button {
  margin-top: 15px;
  background: #398be1;
  border: none;
  outline: none;
  color: white;
  border-radius: 6px;
  padding: 12px 6px;
  cursor: pointer;
}