<div class="update-person">
  <button class="update-person__edit material-icons md-24" (click)="viewModal()">create</button>
  <div class="update-person__modal" [class]="hideModal">
    <div class="update-person__window">
      <div class="update-person__top">
        <h1 class="update-person__title">Редактирование сотрудника</h1>
      </div>
      <form class="update-person__form">
        <p><a href="#" (click)="viewModal()">Назад к списку</a></p>
        <div class="update-person__input-box update-person__input-box_first">
          <input type="text" [formControl]="firstNameControl" name="firstName" class="update-person__input" placeholder="Введите имя сотрудника">
          <div *ngIf="firstNameControl.hasError('required')" class="update-person__warning-elem">
            <p class="update-person__warning-text">Это поле обязательно к заполнению</p>
          </div>
          <div *ngIf="firstNameControl.hasError('pattern')" class="update-person__warning-elem">
            <p class="update-person__warning-text">Неправильно заполнено поле</p>
          </div>
        </div>
        <div class="update-person__input-box">
          <input type="text" [formControl]="lastNameControl" name="lastName" class="update-person__input" placeholder="Введите фамилию сотрудника">
          <div *ngIf="lastNameControl.hasError('required')" class="update-person__warning-elem">
            <p class="update-person__warning-text">Это поле обязательно к заполнению</p>
          </div>
          <div *ngIf="firstNameControl.hasError('pattern')" class="update-person__warning-elem">
            <p class="update-person__warning-text">Неправильно заполнено поле</p>
          </div>
        </div>
        <div class="update-person__buttons">
          <button class="update-person__button" (click)="updatePerson()">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
